*{
    margin: 0px;
    padding: 0px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("conveter\ background.jfif");
    background-size: cover;


}
h2{
    font-size: 30px;
    font-weight: 900;
    text-align: center;
}

.amount p {
    font-size: 1.2rem;
    margin-left: 7px;
    font-weight: 400;
    
}
.container{
    min-height: 45vh;
    width: 50vh;
    border-radius: 2rem;
    background-image: url("conveter\ background\ copy.jfif");
    background-size: cover;
    border: 3px solid lightgray;
    padding:1.5rem;
    
    
}

form{
    margin: 2rem 0 1rem 0;
}

form select,button,input {
    width: 100%;
    border: none;
    outline: none;border-radius: .75rem;
}

form input {
    border: 1px solid lightgray;
    font-size: 1.5rem;
    height: 2.5rem;
    padding-left:.5rem ;
    background-color: rgb(147, 144, 144);
    color: antiquewhite;
    font-weight: 300;

}

.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;

}

.dropdown i{
    font-size: 1.5rem;
    margin-top: 1rem;
}

.selectcontainer img {
    max-width: 3rem;
}

.selectcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8rem;
    border-radius: .5rem;
    border: 1px solid lightgray;
    background-color: rgb(251, 248, 248);

}

.selectcontainer select {
    font-size: 1rem;
    width: auto;
    font-weight: 700;
    background-color: transparent;
}

.from p{
    font-weight: 700;
    font-size: 1.2rem;
    
    margin-bottom: .5rem;
    
}

.to p{
    font-weight: 700;
    font-size: 1.2rem;
    
    margin-bottom: .5rem;
    
}

.exchangerate {
    margin-top: 2rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 20px;
    
}

form button {
   /** margin-top: 1.5rem;**/
    height: 2.5rem;
    width: 9rem;
    font-weight: 900;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(147, 144, 144);
    margin-left: 70px;
    color: antiquewhite;
    
}    



















